@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav{
    display: inline;
}

.main-nav{
    
    background-color:beige;
    padding: 20px;
    
    
}

.main-nav ul{
    list-style: none;
    margin: 10;
    padding: 10;
    align-items: center;
    display: flex;
    justify-content: space-between
    

    
}

a{
    text-decoration: none;
    color: black;

}


body{
    margin:10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif

}

.class1{
    margin: 70;
}

.class0{
    margin: 30;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    

}
.class2{
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-link{
    color: brown;
}